body {
  header {
    background-color: #f0f0f0; /* Ajusta el color del fondo del encabezado según tu diseño */
    padding: 10px;
  }

  .logo {
    max-width: 200px; /* Ajusta el ancho máximo del logo según tu diseño */
    margin: auto; /* Centra el logo horizontalmente en el encabezado */
  }

  .logo img {
    max-height: 40%;
    width: auto; /* Esto hará que el ancho se ajuste proporcionalmente a la altura */
    object-fit: contain;
  }

  /* nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;
  } */

  /* .cards {
    list-style: none;
    display: inline-flex;
    box-sizing: content-box;
    width: 100vh;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    justify-content: center;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    width: 25vh;
    height: 100px;
    margin: 20px;
    padding: 20px;
    align-items: center;
  } */

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Crea 4 columnas con igual tamaño */
    gap: 20px; /* Espacio entre las películas */
    max-width: 960px; /* Máximo ancho del grid para mantenerlo centrado */
    margin: auto;
  }

  figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
    width: 220px; /* Tamaño fijo para las figuras */
    margin: auto;
  }

  img {
    width: 100%;
    height: auto; /* Ajusta la altura proporcionalmente */
  }

  figcaption {
    background-color: #222;
    color: #fff;
    font: smaller;
    padding: 3px;
    text-align: center;
  }
}
