*{
    border: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    overflow: hidden;
}

header img {
    max-height: 30%;
    max-width: 30%;
    object-fit: contain;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;
}

.cards {
    list-style: none;
    display: inline-flex;
    box-sizing: content-box;
    width: 100vh;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

.card1, .card2, .card3, .card4 {
    width: 25vh;
    height: 100px;
    margin: 20px;
    padding: 20px;
    align-items: center;
}
