/* Agrega estilos para hacer la página responsiva */
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
}

/* Estilos para el encabezado */
header {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-height: 40%;
  width: auto; /* Esto hará que el ancho se ajuste proporcionalmente a la altura */
  object-fit: contain;
}

.logo {
  max-width: 200px;
}

.logo img {
  max-height: 100px;
  width: auto;
  object-fit: contain;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio en una línea */
  /* gap: 20px; https://www.bisign.es/css/gap/ es el espacio entre filas y columnas dentro de la cuadrícula */
  padding: 10px 50px;
  gap: 20px;
  justify-content: space-around;
}

.search-container{
  height: 30px;
  width: 80px;
  max-width: 120px;
  position: relative;
  left: 100px;
  top: 20px;  
  transform: translate(-50%, -50%);
}

input.src{
  padding: 5px 40px;
  outline: none;
  font-size: 12px;
  border-radius: 8px;
  color: #444;
  border: 1px solid #837e81;
  width: 60px;
  transition: all .5s;
}

input.src:hover{
  width: 150px;
  max-width: 200px;
  background-color: #fff;
  border-color:#474747;
  box-shadow: 0 0 5px #d5c7fb;
}

.icon{
  font-size: 15px;
  position: absolute;
  top: 20%;
  left: 8px;
  color:#444;
}

/* Estilos para los filtros */
nav .filters {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1; /* Hace que los filtros ocupen todo el espacio disponible */
  justify-content: space-around;
  padding: 15px 40px;
  max-width: fit-content;
}

nav #sort{
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  color: #444;
  border: 1px solid #837e81;
  width: 150px;
  height: 30px;
  margin-left: 10px;
  flex-grow: 1;
}

p {
  font-size: 18px;
  padding: 20px 50px;
}

/* Estilos para el contenedor de la cuadrícula */
.grid-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px; /* Añadir un espaciado adicional en los lados para centrar */
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; /* Espacio entre las filas */
  grid-gap: 20px; /* Espacio entre las columnas */
  max-width: 960px;
  margin: 20px auto;
  justify-items: center; /*Corrige espacio que teníamos a la izquierda*/
}

/* Elimina la regla de altura para las imágenes */
.movie-grid img {
  width: 100%;
  border-radius: 5px; /* Redondea los bordes de las imágenes */
  object-fit: cover;
}

figure {
  border: 2px solid #d5c7fe;
  border-radius: 10px 10px 10px 10px; /* generador de radio en bordes https://html-css-js.com/css/generator/border-radius/ */
  padding: 5px;
  width: 100%;
  text-align: center;
  max-width: 200px;
}

img {
  width: 100%;
  /* height: 260px; Aumentar la altura de las imágenes */
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}

figcaption {
  background-color: #424242;
  border-radius: 5px 5px 5px 5px;
  color: #b18ca5;
  font-size: smaller;
  padding: 3px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.popup-content {
  max-height: 80vh;
  overflow-y: auto;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*///////////////////////////////// REVISAR 12-08
/* Estilo para ocultar el contenedor del popup
.hidden {
  display: none;
}

/* Estilo para el contenedor del popup */
/* #popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */ 
