/* Agrega estilos para hacer la página responsiva */
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
}

/* Estilos para el encabezado */
header {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
    max-height: 40%;
    width: auto; /* Esto hará que el ancho se ajuste proporcionalmente a la altura */
    object-fit: contain;
}

.logo {
  max-width: 200px;
}

.logo img {
  max-height: 100px;
  width: auto;
  object-fit: contain;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio en una línea */
  gap: 20px; /* https://www.bisign.es/css/gap/ es el espacio entre filas y columnas dentro de la cuadrícula */
  padding: 20px;
}

nav form {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Hace que el formulario ocupe todo el espacio disponible */
  justify-content: center;
}
/* Estilos para los filtros */
nav .filters {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Hace que los filtros ocupen todo el espacio disponible */
  justify-content: center;
}

/* Estilos para la cuadrícula de películas */

/* Estilos para el contenedor de la cuadrícula */
.grid-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px; /* Añadir un espaciado adicional en los lados para centrar */
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; /* Espacio entre las filas */
  grid-gap: 20px; /* Espacio entre las columnas */
  max-width: 960px;
  margin: 20px auto;
  justify-items: center; /*Corrige espacio que teníamos a la izquierda*/
}

figure {
  border: 2px solid #d5c7fe;
  border-radius: 10px 10px 10px 10px; /* generador de radio en bordes https://html-css-js.com/css/generator/border-radius/ */
  padding: 5px;
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
  height: 260px; /* Aumentar la altura de las imágenes */
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}

figcaption {
  background-color: #424242;
  border-radius: 5px 5px 5px 5px;
  color: #b18ca5;
  font-size: smaller;
  padding: 3px;
}
